

:root {
  --bar-scale-y: 0;
  --sparkle-color: rgb(253 244 215 / 40%);
}

@keyframes pop-word {
  to {
    transform: rotateX(0);
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@keyframes bar-scale {
  to {
    transform: scaleY(1);
  }
}

@keyframes sparkle {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1) translate(4px, 1px) rotate(8deg);
  }

  100% {
    transform: scale(0) translate(4px, 1px) rotate(8deg);
  }
}

@keyframes shimmer {
  to {
    text-shadow: 0 0 8px red;
  }
}


h1 {
  color: white;
  font-family: "Playfair Display", Vidaloka, serif;
  font-size: 8rem;

  line-height: 0.85;
  perspective: 500px;
}
.tile-bar-image{
  height: 10px;
  width: 50px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
}
.title-image {
  height: 200px;
  width: 200px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}


.title-image-gif {
  
  
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.title-image img {
  max-height: 100%;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: transparent;
  padding: 10px 80px;
  font-size: 18px;
  font-family: sans-serif;
  letter-spacing: 1px;
  transition: all 0.5s;
  position: relative;
  
}
a:before {
  content: "here";
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 2x;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}
a:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}
a:after {
  content: "Click";
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  background: rgb(56, 52, 52);
  font-size: 38px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}
a:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

.word12 {
  display: block;
  color: blue;
  font-size: 68px;
  animation: show 0.01s forwards, pop-word 1.5s forwards;
  animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
  opacity: 0;

  transform: rotateX(120deg);
  transform-origin: 50% 100%;
}

.word:nth-of-type(2) {
  padding: 0 2rem;

  animation-delay: 1.5s;

  color: gold;
}

.superscript {
  position: relative;
  animation-delay: 3.6s;

  animation-duration: 0.25s;
  animation-name: shimmer;

  vertical-align: text-top;
}

/* bars */
.superscript::before {
  --bar-width: 25%;

  position: absolute;

  top: 37%;
  left: 47%;
  width: 14%;
  height: 48%;

  animation: bar-scale 0.25s linear 3s 1 forwards;

  background: linear-gradient(
    to right,
    white var(--bar-width),
    transparent var(--bar-width) calc(100% - var(--bar-width)),
    white calc(100% - var(--bar-width))
  );

  content: "";

  transform: scaleY(var(--bar-scale-y));
}

/* sparkle */
.superscript::after {
  --size: 10rem;

  position: absolute;

  top: -5%;
  left: -85%;

  width: var(--size);
  height: var(--size);

  animation: sparkle 0.4s linear 3.5s 1 forwards;

  background: radial-gradient(
      circle at center,
      rgb(252 249 241 / 94%) 0% 7%,
      transparent 7% 100%
    ),
    conic-gradient(
      transparent 0deg 18deg,
      var(--sparkle-color) 18deg,
      transparent 20deg 40deg,
      var(--sparkle-color) 40deg,
      transparent 43deg 87deg,
      var(--sparkle-color) 87deg,
      transparent 95deg 175deg,
      var(--sparkle-color) 175deg,
      transparent 178deg 220deg,
      var(--sparkle-color) 220deg,
      transparent 222deg 270deg,
      var(--sparkle-color) 270deg,
      transparent 275deg 300deg,
      var(--sparkle-color) 300deg,
      transparent 303deg 360deg
    );

  border-radius: 50%;
  clip-path: polygon(
    50% 0,
    59.13% 26.64%,
    85.13% -2.35%,
    100% 50%,
    50% 100%,
    0 50%,
    31.39% 34.86%
  );

  content: "";

  filter: blur(1px);

  transform: scale(0);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 5rem;
  }

  /* sparkle */
  .superscript::after {
    --size: 6rem;
  }
}


* {
  box-sizing: border-box;
}
 main{
  padding: 36px;
 }
.header{
  display:flex;
  align-items: center;
  height: 65px;
  background: burlywood;
  color: brown;
  padding: 20px;
}

.header--image {
  display: flex; 
  margin-right: 6px;
}
.image-section--image {
  width: 100%;
}

.image-section--container {
  position: relative;
}

.image-section--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0px 0px 5px black;
}

.header--title{
  font-size: 20px;
  margin-right:auto;
}

.header--project{
  font-size: 12px;
  margin-right: auto;
}

.upload{
  display:flex;
  padding: 26px;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  border-radius: 5px;
  gap: 17px;
}

.button--u{
  grid-column: 1 / -1;
  border-radius: 5px;
  cursor: pointer;
}

.Output--div{
  display:flex;
  justify-content: center;
  align-items: center;
  

}

.output--image{
  width: 400px;
  padding: 20px;
  border-radius:10%;
}

.output--img-name{
  position: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  padding: 10px;
  margin-left: 2%;
  width: 100%;
}

.image--card{
  border: 11px solid #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  width: 350px; /* Set the width here */
  margin-left: 2%;
}

.card--upload{
  width: 100%; /* Set the width here */
  margin-left: 2%;
  height: 5%px;
}

.form--selection{
  width: 10%;
  padding: 20%;
  

}

.NameList{
  width: fit-content;
}

